@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0396ff;
}
.container{
    height: 400px;
    min-height: 400px;
    display: flex;
    align-items: flex-end; /*os itens são posicionados ao fim do container*/
}
.icon-image{
    position: relative;
    height: 70px;
    width: 70px;
    background: #fff;
    border-radius: 50%;
    margin: 0 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25); 
}
.icon-image img{
    position: absolute;
    height: 95%;
    width: 95%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover; /*utilizado para especificar como um objeto (imagem, video) deve ser redimensionado para ajustar ao seu computador*/
    border-radius: 50%;
    border: 3px solid #0396ff;
}
/*hover image*/
.hover-image{
    position: absolute;
    height: 350px;
    width: 300px;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    z-index: 0;
    transition: transform 0.5s, z-index 0s, left 0.5s;
    transition-delay: 0s 0.5s, 0 ;
    pointer-events: none;
}
.icon-image:hover .hover-image{
    left: -200px;
    z-index: 12;
    transform: translateX(80px);
    transition: left 0.5s, z-index 0s, transform 0.5s;
    transition-delay: 0s ,0.5s, 0.5s;
}
.hover-image img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 20px;
}
/*imagem 2*/
.content{
    position: absolute;
    width: 100%;
    bottom: -1px;
    left: 0;
    padding: 0 10px;
    /*border: 1px solid red;*/
}
.content::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #fff;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%) rotate(45deg);
    z-index: -1; /*propriedade que especifica a ordem da pilha/camada de um objeto (joga para frente ou para trás)*/
}
.details{
    background-color: #fff;
    padding: 10px;
    border-radius: 12px;
    text-align: center; 
    opacity: 0;
    transform: translateY(10px);
}
.icon-image:hover .details{
    transition: all 0.3s ease;
    transition-delay: translateY(4px);
    opacity: 1;
    transform: translateY(4px);
}
.details::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #fff;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%) rotate(45deg);
    z-index: -1; /*propriedade que especifica a ordem da pilha/camada de um objeto (joga para frente ou para trás)*/
}
.name{
    font-size: 20px;
    font-weight: 500;
}
.job{
    font-size: 17px;
    color: #0396ff;
    margin: -3px 0 5px 0;
}
.last:hover .details{
    transition-delay: 0s;
}